@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
/* @tailwind base;
@tailwind components;
@tailwind utilities; */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
  overflow-x: hidden;
  /* font-family: "Public Sans", sans-serif; */
}

:root {
  --primary-pink: #ba4270;
  --primary-white: #fbfcfe;
  --secondary-juan-blue: #36536b;
  --secondary-mirage-blue: #1b262f;
  --secondary-charm-pink: #da6d97;
  --secondary-light-blue: #6c8294;
  --transition: all 0.3s ease-in-out;
  --background-color: #edf3f8;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "DM Serif Display", serif;
  color: var(--secondary-juan-blue);
}
h1 {
  font-size: 3.2rem;
  line-height: 1.1;
  font-weight: 500;
}
p {
  color: var(--secondary-light-blue);
}
body {
  font-size: 1.5rem;
  line-height: 1.867;
  background-color: var(--background-color);

  /* background-image: url("/shared/desktop/bg-pattern-circle.svg");
  background-repeat: no-repeat;
  background-position: top right;
  background-position-x: 90rem;
  background-position-y: -13rem; */
}
.wrapper {
  max-width: 29rem;
  margin-inline: auto;
}
.links-container {
  display: none;
}
.ui-img {
  width: 100%;
}
.easy-img {
  width: 100%;
}
.hero {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  margin-top: -6rem;
}
.hero-phone {
  transform: translateX(8vw);
}
.hero-img svg {
  width: 100%;
}
.phone-tab {
  display: none;
}
.nav-left {
  margin-top: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3.2rem;
}
.nav-right {
  display: none;
}
.desktop-phones {
  display: none;
}
.hero-text {
  margin-top: -8.2rem;
  padding-bottom: 8rem;
}
.hero-text > * {
  text-align: center;
}
.hero-text h1 {
  margin-bottom: 2.4rem;
}
.hero-img {
  overflow: hidden;
}
.hero-img > svg > g {
  transform: translateX(10px);
}
.hero-img > svg {
  height: 53rem;
}
.phone-desktop {
  display: none;
}
.demo-form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-bottom: 2.4rem;
}
.demo-input {
  width: 100%;
  border-radius: 200rem;
  padding: 1.6rem 2.5rem;
  overflow: hidden;
  border: none;
  color: var(--secondary-light-blue);
  font-family: inherit;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.demo-input::placeholder {
  color: var(--secondary-light-blue);
}
.demo-btn {
  margin-left: 0;
}
input:focus {
  outline: none;
}
.contact-p {
  color: var(--secondary-light-blue);
}
.btn,
.btn-input {
  /* width: 100%; */
  font-size: 1.5rem;
  background-color: var(--primary-pink);
  color: #fff;
  padding: 1.6rem 2.5rem;
  border-radius: 200rem;
  font-weight: 700;
  border: none;
  cursor: pointer;
  transition: var(--transition);
  display: grid;
}
.btn-small {
  display: inline-block;
  padding: 1.6rem 3.2rem;
  align-self: flex-start;
  background-color: var(--secondary-mirage-blue);
  border: solid 1px #fff;
}
/* SOCIAL PROOF SECTION */
.social-section {
  margin-bottom: 8rem;
  background-color: var(--secondary-mirage-blue);
  color: var(--primary-white);
}
.socials-tab {
  display: none;
}
.social-img {
  text-align: center;
}
.social-flex {
  display: flex;
  flex-direction: column-reverse;
  padding-block: 8rem;
  gap: 5.6rem;
}
.social-companies {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  gap: 2.5rem;
  margin-bottom: 5.6rem;
}
.social-icons {
  width: min-content;
}
.social-icons > svg path {
  fill: var(--primary-white);
}
.social-text h2 {
  font-size: 2.9rem;
  display: inline-block;

  text-align: center;
  color: var(--primary-white);
}
.social-text {
  text-align: center;
}
.social-text p {
  color: var(--primary-white);
  text-align: center;
  margin-bottom: 6rem;
}
.ui-img > svg > g {
  transform: translateX(3.8rem);
}
.ui-img > svg > g {
  transform: translateX(-4rem);
}
.ui-img > svg {
  width: 100%;
}
.section-easy {
  margin-bottom: 11rem;
}
.two-phones {
  transform: translateY(-4rem);
  width: 100%;
  object-fit: cover;
}
/* EASY TO IMPLEMENT */
.easy-container {
  display: grid;
  gap: 4.8rem;
  grid-template-rows: 21rem 1fr;
}
.easy-container > * {
  text-align: center;
}

.code-tab {
  display: none;
}

.easy-img > svg > g {
  transform: translate(-53px, -103px);
}
.easy-text {
  /* margin-bottom: 8rem; */
}
.easy-text p {
  color: var(--secondary-light-blue);
}
.easy-img img {
  object-fit: cover;
  transform: translateY(-22px);
}

/* SIMPLE UI */
.section-ui {
  display: flex;
  flex-direction: column-reverse;
}
.section-ui > * {
  text-align: center;
}
.section-ui h2 {
  font-size: 3.2rem;
  font-weight: 400;
}
.ui-img > svg {
  height: 56.5rem;
}
.ui-img {
  height: 29rem;
}
/* GOALS SECTION */

.section-goals {
  margin-block: 8rem;
}
.goal-svg {
  height: 10.6rem;
  width: 10.6rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background-color: var(--secondary-juan-blue);
}
.goal-svg svg path {
  fill: var(--primary-white);
}
.goal > * {
  text-align: center;
}
.goal {
  display: grid;
  justify-items: center;
  gap: 3.2rem;
  margin-bottom: 4.8rem;
}
.goal-text h3 {
  margin-bottom: 1.6rem;
}
.cta-form {
  /* margin-bottom: 8rem; */
}
.cta > * {
  text-align: center;
}
.cta h2 {
  margin-bottom: 3.2rem;
  font-size: 3.2rem;
  font-weight: 400;
}
footer {
  background-color: var(--secondary-mirage-blue);
  padding-top: 4.1rem;
  padding-bottom: 5.5rem;
}
.footer-menu {
  display: none;
}
.footer-links {
  display: block;
  margin-bottom: 4rem;
}
ul {
  list-style: none;
  display: grid;
  place-items: center;
  gap: 3.1rem;
}
ul li .links {
  text-decoration: none;
  color: var(--primary-white);
  text-transform: capitalize;
}
.footer-logo svg path,
.logo.footer-logo > svg > g > g {
  fill: var(--primary-white);
}
.footer-logo {
  text-align: center;
  margin-bottom: 4rem;
}
.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}
@media only screen and (min-width: 425px) {
  .wrapper {
    max-width: 34rem;
  }
}
/* MEDIA QUERY FOR TABLETS */

@media only screen and (min-width: 768px) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 4rem; */
    margin-bottom: 4.8rem;
  }
  .mobile-menu {
    display: none;
  }
  .nav-right {
    display: block;
  }
  .nav-left .links-container {
    display: block;
  }

  ul li .links {
    color: var(--secondary-juan-blue);
    font-weight: 700;
  }
  .logo {
    margin-right: 6.4rem;
  }
  h2 {
    font-size: 4.8rem;
  }
  .wrapper {
    max-width: 70rem;
  }
  .hero {
    align-items: center;
    justify-content: space-between;
  }
  .hero-text {
    width: 57rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10rem;
  }
  .hero-text > * {
    text-align: center;
  }
  .hero-text h1 {
    font-size: 4.8rem;
  }
  .hero-phone {
    display: none;
  }
  .phone-tab {
    display: block;
  }
  .demo-form {
    flex-direction: row;
    width: 44.5rem;
    margin-bottom: 1.6rem;
  }
  .demo-btn {
    margin-left: -17rem;
    width: 20rem;
  }
  .demo-input {
    padding-top: 1.6rem;
    padding-bottom: 1.4rem;
    padding-left: 2.7rem;
  }
  /* SOCIAL SECTION */
  .social-companies {
    grid-template-columns: repeat(3, 1fr);
  }
  .social-text h2 {
    font-size: 4.8rem;
    font-weight: 400;
  }
  .social-text p {
    width: 45rem;
    margin-inline: auto;
    margin-bottom: 3.2rem;
  }
  .socials-mobile {
    display: none;
  }
  .socials-tab {
    display: block;
  }
  .socials-img {
    display: flex;
    justify-content: center;
  }
  .social-flex {
    gap: 6.4rem;
  }
  /* SECTION EASY */
  .section-easy {
    margin-bottom: 9rem;
  }
  .easy-img {
    width: 57.3rem;
    margin-inline: auto;
  }
  .easy-img > svg > g {
    transform: translateX(5rem);
  }
  .two-phones {
    width: 50%;
    object-fit: cover;
    transform: translateY(0);
  }
  .easy-text h2 {
    font-family: "DM Serif Display", serif;
    font-size: 4.8rem;
    font-weight: 400;
  }

  .easy-text p {
    padding-inline: 5rem;
  }

  /* SECTION UI */
  .ui-img > svg > g {
    transform: translateX(3vw);
  }
  .section-ui {
    display: flex;
    flex-direction: column-reverse;
    gap: 4.8rem;
  }
  .ui-text p {
    width: 57.3rem;
    margin-inline: auto;
  }

  /* GOALS SECTION */
  .section-goals {
    display: flex;
    justify-content: space-between;
    margin-block: 10rem;
  }
  .goal {
    margin-bottom: 0;
  }
  .goal-text {
    min-height: 21.1rem;
    display: grid;
    grid-template-rows: auto 1fr;
  }
  /* CTA */
  .cta {
    margin-bottom: 10rem;
  }
  .demo-form {
    margin-inline: auto;
    margin-bottom: 0;
  }
  .cta h2 {
    margin-bottom: 4rem;
  }
  .contact-p {
    margin-top: 1.6rem;
  }
  /* FOOTER */

  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6.4rem;
  }
  .links-container ul {
    display: flex;
  }
  .footer-links,
  .footer-logo {
    margin-bottom: 0;
  }
  footer {
    padding-block: 3.1rem;
  }
}
@media only screen and (min-width: 1024px) {
  .wrapper {
    max-width: 90rem;
  }
  .hero {
    flex-direction: row;
  }
  .hero-text {
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
  }
  .hero-text h1 {
    text-align: left;
  }
  .demo-form {
    margin-left: 0;
  }
  .contact-p {
    display: inline-block;
    margin-left: 2.5rem;
  }
  .cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .cta-form {
    margin-inline: 0;
  }
  .cta h2 {
    margin-bottom: 0;
    font-size: 4.8rem;
  }
  .hero-form {
    align-self: flex-start;
  }
  .easy-container {
    grid-template-columns: 44.5rem 1fr;
  }
  .easy-img {
    width: 100%;
  }
  .e {
    display: grid;
    place-items: center;
  }
  .contact-p {
    align-self: flex-start;
  }
  .easy-text {
    margin-bottom: 0;
  }
  .easy-text h2 {
    text-align: left;
  }
  .easy-text p {
    width: 44.5rem;
    margin-inline: 0;
    text-align: left;
    padding-inline: 0;
  }
  .section-ui {
    flex-direction: column-reverse;
    gap: 0;
    gap: 5rem;
  }
  .ui-img {
    height: 40rem;
    display: flex;
    justify-content: center;
  }
  .ui-img > svg > g {
    transform: translateX(13vw);
  }
  .ui-text p {
    width: 49.3rem;
  }
  .section-easy {
    margin-bottom: 10rem;
  }
  .f-links {
    color: var(--primary-white) !important;
  }
  .two-phones {
    display: none;
  }
  .code-phone {
    display: none;
  }
  .code-tab {
    display: block;
  }
  .phone-tab {
    display: none;
  }
  .phone-desktop {
    display: block;
  }
  .desktop-phones {
    display: block;
  }
  .phone-1 {
    transform: translateX(9rem);
  }
}
@media only screen and (min-width: 1200px) {
  .hero-section {
    height: calc(100vh - 14.4rem);
    display: grid;
    align-items: center;
  }
  .wrapper {
    max-width: 110rem;
  }
  .hero {
    justify-content: space-between;
  }
  .hero h1 {
    font-size: 7.2rem;
    margin-bottom: 3.5rem;
  }
  .hero-form {
    align-self: flex-start;
  }

  .social-flex {
    flex-direction: row;
    justify-content: space-between;
  }
  .social-section {
    margin-bottom: 14.9rem;
  }
  .social-text h2 {
    text-align: left;
  }
  .social-text {
    display: grid;
  }
  .social-text p {
    text-align: left;
  }
  .social-text button {
    justify-self: flex-start;
  }
  .social-companies {
    height: 11rem;
    align-self: center;
    margin-bottom: 0;
  }
  .social-flex {
    padding-top: 11rem;
  }
  .socials-img {
    align-items: center;
  }
  .section-easy {
    margin-bottom: 15.1rem;
  }
  .section-goals {
    margin-block: 0;
  }

  .section-ui {
    display: grid;
    grid-template-columns: 44.5rem 1fr;
    margin-bottom: 18rem;
  }
  .ui-text {
    display: flex;
    flex-direction: column;
    margin-block: auto;
  }
  .ui-text p {
    width: 100%;
    text-align: left;
  }
  .section-ui h2 {
    font-size: 4.8rem;
    text-align: left;
  }
  .ui-img > svg > g {
    transform: translateX(-1vw);
  }
  .demo-form {
    margin-bottom: 0;
    margin-inline: 0;
  }
  .contact-p {
    align-self: flex-start;
  }
  .cta {
    display: flex;
    justify-content: space-between;
    margin-top: 6rem;

    align-items: center;
  }

  .cta h2 {
    margin-bottom: 0;
    font-size: 4.8rem;
  }
  .text-wrapper p {
    width: 35rem;
  }
}
@media only screen and (min-width: 1440px) {
  .wrapper {
    max-width: 130rem;
  }
}
